/* ============ global 0============= */

*{margin: 0;padding: 0;font: 12px/150% 'Microsoft Yahei',sans-serif,Arial;color: #fff;}
#fullpage .section{transition: background-color 1s ease;}
.section1{background: url(../images/1.png) no-repeat top center;}
.section3{background: url(../images/3.png) no-repeat top center;}

/* ============ global nav ============*/      

/* default */
#fp-nav ul li{width: 18px;height: 18px}

#fp-nav ul li a span,
#fp-nav ul li:hover a span {
    width: 12px;
    height: 12px;
	margin: -6px 0 0 -6px;
    box-sizing: border-box;
	background: transparent;
    border: 2px solid rgba(255,255,255,.6);
	left: 34%;
	top: 52%;
}
/* active */
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    width: 16px;
    height: 16px;
	margin: -8px 0 0 -8px;
    background-color: #fff;
}
/* hover */
#fp-nav ul li:hover a span {border: 2px solid rgba(255,255,255,1);}

/* ===================== Page 1 ========================= */
.section1 h1 {
            display: inline-block;
            font-family: Georgia;
            font-weight:bolder;
            font-size:36px;
            color: #fff;
            }
        .universe{
            margin-left: 0;
            margin-top: 12%;
            opacity: 0;
        }
        .university{
            margin-top: 12%;
            margin-left: 80%;
            opacity: 0;
        }
        .universe_active{
            margin-top: 12%;
            margin-left: 25%;
            opacity: 1;
            -webkit-transition:all 1s;
            position: relative;
        }
        
        .university_active{
            margin-top: 12%;
            margin-left: 11%;
            opacity: 1;
            -webkit-transition:all 1s;
            position: absolute;
        }
        .sym{
            margin-top: 12%;
            margin-left: 1.5%;
            opacity: 0;
        }
        .sym_active{
            margin-top: 12%;
            margin-left: 1.5%;
            opacity: 1;
            -webkit-transition:all 1s;
            position: absolute;
        }
.section1 p {
            font-family: sans-serif;
            font-size: 14px;
            margin-left: 54%;
            margin-top: 14%;
            color: #fff;
        }
/* ===================== Page 2 ========================= */
.section2>h1{
    padding-top: 100px;
    font-size: 36px;
    text-align: center;
}

.section2>h2{
    font-size: 24px;
    text-align: center;
}

#intro_area{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 250px;
    margin: 100px auto;
}

.intro_box{
    display: inline-block;
    width: 210px;
    text-align: center;
    background-color: white;
}

.intro_box>img{
    width: 96px;
    height: 96px;
    position: relative;
    bottom: 20px;
    border-radius: 50%;
}

.intro_box>h3{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.intro_box>h4{
    color: black;
    font-size: 15px;
    text-align: center;
}

.intro_box>p{
    margin-top: 10px;
    color: black;
    font-size: 7px;
}