/* ============ global 0============= */

*{margin: 0;padding: 0;font: 12px/150% 'Microsoft Yahei',Arial,sans-serif;color: #fff;}
#fullpage .section{min-width: 400px;transition: background-color 1s ease;}
.section2{background: url(../images/2.png) no-repeat top center;}
.section3{background: url(../images/3.png) no-repeat top center;}
li{list-style: none;}a{text-decoration: none;}

/* ============ global nav ============*/      

/* default */
#fp-nav ul li{width: 18px;height: 18px}

#fp-nav ul li a span,
#fp-nav ul li:hover a span {
    width: 12px;
    height: 12px;
	margin: -6px 0 0 -6px;
    box-sizing: border-box;
	background: transparent;
    border: 2px solid rgba(255,255,255,.6);
	left: 34%;
	top: 52%;
}
/* active */
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    width: 16px;
    height: 16px;
	margin: -8px 0 0 -8px;
    background-color: #fff;
}
/* hover */
#fp-nav ul li:hover a span {border: 2px solid rgba(255,255,255,1);}

/* for 480px or less */
@media screen and (max-width: 1200px) {#fp-nav {display: none;}}


/* ===================== header nav ========================= */

.hd {
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hd .inner {
    min-width: 380px;
    height: 45px;
}

.hd nav li {
    float: left;
}

.hd nav li a {
    line-height: 45px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    display: block;
    transition: all 0.5s;
}

.hd nav li.active a,
.hd nav li.active a:hover {
    background: transparent;
    color: rgba(0, 0, 0, 0.6)
}

/* ===================== Page 1 ========================= */

.section1{min-height: 310px}

/* 3 div ：title  background  p */
.s1-tit{height: 40%;text-align: center;}
.s1-bg{height: 50%;min-height: 305px;background: url(../images/1.png) center;background-size: cover;}
.s1-p{height: 10%;}

/* title : 初始及切入样式 sym  sym_active*/
.sym, .sym_active{min-width: 670px;margin-top: 15%;display: inline-block;}

/* title : 初始样式 sym  i */
.sym{width: 100%;text-align: center;opacity: 0;transition:all 0.8s;}
.sym,i{font: 3rem Arial,sans-serif;font-weight: bolder;text-shadow: 0 1px 3px rgba(0,0,0,0.3);}
#s1-tit-1{float: left;}
#s1-tit-2{float: right;}

/* title : 切入样式 sym_active */
.sym_active{opacity: 1;width: 49.5%;}

/* content : 初始样式及切入样式 s1-p  s1-p-active */
.s1-p{position: relative;top: -25%;left: 55%;opacity: 0;transition:all 0.5s ease-out;}
.s1-p-active{opacity: 1;}

/* ===================== Page 2 ========================= */

#team{
    padding-top: 120px;
    font-size: 36px;
    text-align: center;
	text-shadow:0 1px 2px rgba(0,0,0,0.5);opacity:0;
}

#intro{
    font-size: 24px;
    text-align: center;
	text-shadow:0 1px 2px rgba(0,0,0,0.5);opacity:0;
}

.intro_area{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 250px;
    margin: 70px auto;
    transition：all 0.5s
	-webkit-transform: translateY(1500px);
            transform: translateY(1500px);
    transition: 2s;
    transition-delay: 0.4s;
}
.active .intro_area{
    -webkit-transform:translateX(0);
            transform:translateX(0);
}
.intro_box{
    display: inline-block;
    width: 210px;
    text-align: center;
    background-color: white;
	border-radius:10px;	
	-webkit-box-shadow: 3px 3px 3px black;  
       -moz-box-shadow: 3px 3px 3px black;  
            box-shadow: 3px 3px 3px black;
}

.intro_box:hover{
    background-color:white;
    border-radius:20px;
    	
    -webkit-transform:scale(1.1);
            transform:scale(1.1);		
}

.intro_box img{
    width: 96px;
    height: 96px;
    position: relative;
    bottom: 20px;
    border:2px solid black;
    border-color: #eee;
    border-radius:50%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .5), 0 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .5), 0 1px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, .5), 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5), 0 1px 3px rgba(0, 0, 0, .5);
}

.active .intro_box img {
    -webkit-animation:z_rotate 2s 3s;
            animation:z_rotate 2s 3s;
} 
@-webkit-keyframes z_rotate{
    50%{-webkit-transform:rotateZ(270deg);transform:rotateZ(270deg);}
}
@keyframes z_rotate{
    50%{-webkit-transform:rotateZ(270deg);transform:rotateZ(270deg);}
} 

.intro_box>h3{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.intro_box>h4{
    color: black;
    font-size: 15px;
    text-align: center;
}

.intro_box>p{
    margin-top: 10px;
    color: black;
    font-size: 7px;
}
    
/* ===================== Page 3 ========================= */

/*溢出隐藏*/
.section{
    overflow: hidden; 
}

/*icon初始样式*/
.section3 .icon{     
    width:470px;
    height:150px;
    margin:100px auto 10px;   
    overflow: hidden;
    opacity:0;
    -webkit-transform:translateY(-1000px);
            transform:translateY(-1000px);
    transition:2s;
}

/*滚动到第三屏时，icon的样式*/
.section3.active .icon {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0.8;  
}

/*li初始样式*/
.section3 .icon li{  
    float: left;
    width:96px;
    height:96px;
    margin:20px;
    border:10px solid #3e85c2;
    border-radius:50%;
    border-right-color:#58ABEC;
    border-bottom-color:#3e85c2;  
}

/*滚动到第三屏时，li的样式*/
.section3.active .icon li{
    -webkit-animation:zrotate 1.5s 2.5s;
            animation:zrotate 1.5s 2.5s;
} 

@-webkit-keyframes zrotate{
    50%{-webkit-transform:rotateZ(300deg);transform:rotateZ(300deg);}
}

@keyframes zrotate{
    50%{-webkit-transform:rotateZ(300deg);transform:rotateZ(300deg);}
}

.section3 .icon .HTML{background: url(../images/html_96px.png) no-repeat center }
.section3 .icon .CSS{background: url(../images/css_96px.png) no-repeat center}
.section3 .icon .JS{background: url(../images/js_96px.png) no-repeat center}

/* 内容样式 */
.section3 .team,.section3 .work{
    width:550px;
    margin:10px auto;
}

.section3 .team h2,.section3 .work h2{
    font-weight: normal;
    font-size: 30px;
    width:150px;
    height:60px;
    line-height: 60px;
    margin:0 auto;
    text-align:center;
    text-shadow: 0 1px 1px #00f;
    cursor:pointer;  
}

.section3 .team h2{
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
     transition: 2s;
     transition-delay: 0.1s;     
}

.section3 .work h2{
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    transition: 2s;
    transition-delay: 0.3s;
}

.section3.active .team h2,.section3.active .work h2{
    -webkit-transform:translateX(0);
            transform:translateX(0);
}

.section3 .team ul,.section3 .work ul{
    margin:10px auto;
    padding:10px 15px;
    display: none;
    border-radius:10px; 
    background:-webkit-linear-gradient(left,rgba(62,133,194, 1) 0%, rgba(92,162,236, 0) 100%);
    background:   -moz-linear-gradient(left,rgba(62,133,194, 1) 0%, rgba(92,162,236, 0) 100%);
    background:     -o-linear-gradient(left,rgba(62,133,194, 1) 0%, rgba(92,162,236, 0) 100%);
    background:        linear-gradient(left,rgba(62,133,194, 1) 0%, rgba(92,162,236, 0) 100%);
}

.section3 .team ul li,.section3 .work ul li{
    font-weight: normal;
    font-size:18px;
    line-height: 35px;
    padding:2px 5px;
}

.section3 .team ul li:hover,.section3 .work ul li:hover{
    color:#fff;
    background: #58a8ec;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
}