/* ============ global 0============= */

*{margin: 0;padding: 0;font: 12px/150% 'Microsoft Yahei',Arial,sans-serif;color: #fff;}
#fullpage .section{min-width: 400px;transition: background-color 1s ease;}
.section2{background: url(../images/2.png) no-repeat top center;}
.section3{background: url(../images/3.png) no-repeat top center;}

/* ============ global nav ============*/      

/* default */
#fp-nav ul li{width: 18px;height: 18px}

#fp-nav ul li a span,
#fp-nav ul li:hover a span {
    width: 12px;
    height: 12px;
	margin: -6px 0 0 -6px;
    box-sizing: border-box;
	background: transparent;
    border: 2px solid rgba(255,255,255,.6);
	left: 34%;
	top: 52%;
}
/* active */
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    width: 16px;
    height: 16px;
	margin: -8px 0 0 -8px;
    background-color: #fff;
}
/* hover */
#fp-nav ul li:hover a span {border: 2px solid rgba(255,255,255,1);}

/* ===================== Page 1 ========================= */
.section1{min-height: 310px}

/* 3 div ：title  background  p */
.s1-tit{height: 40%;text-align: center;}
.s1-bg{height: 50%;min-height: 305px;background: url(../images/1.png) center;background-size: cover;}
.s1-p{height: 10%;}

/* title : 初始及切入样式 sym  sym_active*/
.sym, .sym_active{
    min-width: 670px;    
    margin-top: 15%;
    display: inline-block;
}

/* title : 初始样式 sym  i */
.sym{
    width: 100%;
    transition:all 0.8s;
    text-align: center;
    opacity: 0;
}
.sym,i{
    font-size: 3rem;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#s1-tit-1{float: left;}
#s1-tit-2{float: right;}

/* title : 切入样式 sym_active */
.sym_active{
    opacity: 1;
    width: 49.5%;
}

/* content : 初始样式及切入样式 s1-p  s1-p-active */
.s1-p{
    transition:all 0.5s ease-out;
    position: relative;
    top: -25%;
    left: 55%;
    opacity: 0;
}
.s1-p-active{
    opacity: 1;
}

/* ===================== Page 2 ========================= */
#team{
    padding-top: 100px;
    font-size: 36px;
    text-align: center;
	text-shadow:2px 2px 2px black;opacity:0;
	/*-webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
    transition: 2s;
    transition-delay: 0.4s;*/
}

/*.section2.active h1{
    -webkit-transform:translateY(0);
            transform:translateY(0);
}*/
#intro{
    font-size: 24px;
    text-align: center;
	text-shadow:2px 2px 2px black;opacity:0;
	/*-webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    transition: 2s;
    transition-delay: 0.4s;*/
}

/*.section2.active h2{
    -webkit-transform:translateY(0);
            transform:translateY(0);
}*/

.intro_area{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 250px;
    margin: 70px auto;
	-webkit-transform: translateY(1500px);
            transform: translateY(1500px);
    transition: 2s;
    transition-delay: 0.4s;
}
.active .intro_area{
    -webkit-transform:translateX(0);
            transform:translateX(0);
}
.intro_box{
    display: inline-block;
    width: 210px;
    text-align: center;
    background-color: white;
	border-radius:10px;	
	-webkit-box-shadow: 3px 3px 3px black;  
    -moz-box-shadow: 3px 3px 3px black;  
    box-shadow: 3px 3px 3px black;
}

.intro_box:hover{
background-color:white;
border-radius:20px;
	
-webkit-transform:scale(1.1);
            transform:scale(1.1);
		
}


.intro_box img{
    width: 96px;
    height: 96px;
    position: relative;
    bottom: 20px;
    border-radius: 50%;
}
.active .intro_box img {
    -webkit-animation:z_rotate 2s 3s;
            animation:z_rotate 2s 3s;
} 

@-webkit-keyframes z_rotate{
    50%{-webkit-transform:rotateZ(270deg);transform:rotateZ(270deg);}
}

@keyframes z_rotate{
    50%{-webkit-transform:rotateZ(270deg);transform:rotateZ(270deg);}
} 
.intro_box>h3{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.intro_box>h4{
    color: black;
    font-size: 15px;
    text-align: center;
}

.intro_box>p{
    margin-top: 10px;
    color: black;
    font-size: 7px;
}
    



/* ===================== Page 3 ========================= */
/*溢出隐藏*/
.section{
    height:100%;
    overflow: hidden; 
}

/*icon初始样式*/
.section3 .icon{     
    width:470px;
    height:150px;
    margin:80px auto 10px;   
    overflow: hidden;
    opacity:0;
    -webkit-transform:translateY(-1000px);
            transform:translateY(-1000px);
    transition:2s;
    transition-delay:0.1s;    
}

/*滚动到第三屏时，icon的样式*/
.section3.active .icon {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0.8;  
    -webkit-animation:yrotate 2.5s 2s;
            animation:yrotate 2.5s 2s;
}



@keyframes yrotate{
    0%{-webkit-transform:rotateY(0deg);transform:rotateY(0deg);}
    20%{-webkit-transform:rotateY(100deg);transform:rotateY(120deg);}
    40%{-webkit-transform:rotateY(200deg);transform:rotateY(200deg);}
    60%{-webkit-transform:rotateY(300deg);transform:rotateY(300deg);}
    100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg);}
    
}


/*li初始样式*/
.section3 .icon li{  
    list-style: none;  
    float: left;
    width:96px;
    height:96px;
    margin:20px;
    border:10px solid #ecab18;
    border-radius:50%;
    border-right-color:#1ad280;
    border-bottom-color:#1ad280;  
}

/*滚动到第三屏时，li的样式*/
.section3.active .icon li{
    -webkit-animation:zrotate 2s 4.5s;
            animation:zrotate 2s 4.5s;
} 

@-webkit-keyframes zrotate{
    50%{-webkit-transform:rotateZ(300deg);transform:rotateZ(300deg);}
}

@keyframes zrotate{
    50%{-webkit-transform:rotateZ(300deg);transform:rotateZ(300deg);}
}



.section3 .icon .HTML{background: url(../images/html_96px.png) no-repeat center }
.section3 .icon .CSS{background: url(../images/css_96px.png) no-repeat center}
.section3 .icon .JS{background: url(../images/js_96px.png) no-repeat center}


.section3 .team,.section3 .work{
    width:550px;
    margin:10px auto;
}

.section3 .team h2,.section3 .work h2{
    font-weight: normal;
    font-size: 30px;
    width:150px;
    height:60px;
    line-height: 60px;
    margin:0 auto;
    text-align:center;
    cursor:pointer;  
}

.section3 .team h2{
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
     transition: 2s;
     transition-delay: 0.1s;     
}

.section3 .work h2{
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    transition: 2s;
    transition-delay: 0.3s;
}


.section3.active .team h2,.section3.active .work h2{
    -webkit-transform:translateX(0);
            transform:translateX(0);
}

.section3.active .team h2:hover,.section3.active .work h2:hover{
    color:#F97428;
    -webkit-transform:scale(1.8);
            transform:scale(1.8);
}

.section3 .team ul,.section3 .work ul{
    margin:10px auto;
    display: none;
    border-radius:10px; 
  background:-webkit-linear-gradient(left,rgba(123,208,117, 1) 0%, rgba(123,208,117, 0.2) 100%);
  background:-moz-linear-gradient(left,rgba(123,208,117, 1) 0%, rgba(123,208,117, 0.2) 100%);
  background:-o-linear-gradient(left,rgba(123,208,117, 1) 0%, rgba(123,208,117, 0.2) 100%);
  background:linear-gradient(left,rgba(123,208,117, 1) 0%, rgba(123,208,117, 0.2) 100%);
    padding:10px 15px;
    
}



.section3 .team ul li,.section3 .work ul li{
    list-style: none;
    font-weight: normal;
    font-size:18px;
    line-height: 35px;
    padding:2px 5px;
}

.section3 .team ul li:hover,.section3 .work ul li:hover{
    color:#ff546b;
    background: #7BD075;
    border-radius:10px;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
}

